:root {
    --banner-left: 250px;
    --banner-right: 240px;
    @include lg {
        --banner-left: 190px;
        --banner-right: 130px;
        --heading-shape: 12px;
    }
    @include md {
        --banner-left: 100px;
        --banner-right: 90px;
        --heading-shape: 12px;
    }
    @include sm {
        --banner-left: 60px;
        --banner-right: 50px;
        --heading-shape: 12px;
    }
}

@keyframes headerAnimation {
    0% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

.logo {
    cursor: pointer;
    padding-left: 60px;
    padding-right: 30px;
    @include lg {
        padding-left: 5px;
    }
    @include mmd {
        padding-left: 0px;
    }
    @include sm {
        border-right: 0;
    }
}

//  .line {
//      left: 10px;
//      top: 0px;
//      height: 100px !important;
//      width: 1px !important;
//      background-color: red;
//  }
.heading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    background-color: #000;
    padding: var(--bs-navbar-padding-y) 0;
    --bs-navbar-padding-y: 26px;
    border-bottom: 1px solid rgba($color: $white, $alpha: .50);
    @include md {
        --bs-navbar-padding-y: 30px;
    }
    @include sm {
        --bs-navbar-padding-y: 25px;
    }
    .headershap1 {
        left: calc(var(--banner-left));
        top: 0;
        z-index: 10;
        width: 1px;
        height: 118px;
        opacity: 0.5;
        background-color: rgba($color: $white, $alpha: .50);
        @include xxl {
            left: 250px;
        }
        @include xl {
            left: 250px;
        }
        @include lg {
            left: 190px;
        }
        @include md {
            left: 26.4%;
            height: 111px;
        }
        @include sm {
            display: none;
        }
    }
    .headershap2 {
        right: calc(var(--banner-right));
        top: 0;
        z-index: 10;
        width: 1px;
        height: 118px;
        opacity: 0.5;
        background-color: rgba($color: $white, $alpha: .50);
        @include md {
            right: 20%;
            height: 110px;
        }
        @include sm {
            display: none;
        }
    }
    .container-fluid {
        padding: 0px;
    }
    &-clear {
        height: 100px;
    }
    &.position-fixed {
        animation: headerAnimation .5s linear;
        background-color: rgba($color: $bg, $alpha: .6);
        backdrop-filter: blur(3px);
        --bs-navbar-padding-y: 36px;
        @include md {
            --bs-navbar-padding-y: 20px;
        }
        @include sm {
            --bs-navbar-padding-y: 1rem;
        }
    }
    &-menu {
        @include mmd {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: rgba($color: $black, $alpha: .90);
            padding: 24px;
            z-index: 9;
            transform: translateY(150%);
            @include transition;
            &.show-menu {
                transform: translate(0, 0);
            }
        }
        & .title {
            margin-bottom: 32px;
            @include sm {
                margin-bottom: 24px;
            }
        }
        & .heading-actions {
            @include mmd {
                margin-top: 32px;
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }
            @include sm {
                margin-top: 26px;
            }
        }
    }
    &-link {
        font-size: 18px;
        line-height: 150%;
        color: #B2B2B2;
        font-weight: 700;
        font-family: $font-1;
        display: block;
        padding: 10px 25px;
        cursor: pointer;
        @include lg {
            padding: 10px 15px;
        }
        @include mmd {
            font-weight: 600;
            @include font-20;
            color: #B2B2B2;
            padding: 5px 10px;
        }
        &:hover,
        &.active {
            color: #FFE12F;
        }
    }
    &-actions {
        grid-gap: 12px;
        // @media (max-width: 991px) {
        //     padding-right: 52px;
        // }
        @include md {
            gap: 12px;
        }
        @include sm {
            grid-gap: 8px;
        }
    }
    //  & .btn {
    //      --bs-btn-border-width: 1px !important;
    //      --bs-btn-padding-x: 20px !important;
    //      --bs-btn-padding-y: 7px !important;
    //      &:not(.bg-primary) {
    //          border-color: $primary !important;
    //          color: $primary !important;
    //          &:hover {
    //              color: $white !important;
    //          }
    //      }
    //  }
    .arrowbtn {
        // border-left: 1px solid #B2B2B2;
        padding: 0 90px;
        @include xl {
            padding: 0px 45px;
        }
        @include lg {
            padding: 0px 30px;
        }
        @include mmd {
            padding: 0 10px;
        }
        @include sm {
            border-left: 0;
            img {
                width: 35px;
                height: 35px;
            }
        }
    }
    &-toggler {
        --btn-padding-x: 4px;
        --btn-padding-y: 5px;
        padding: var(--btn-padding-y) var(--btn-padding-x);
        border: none;
        background-color: transparent;
        color: $heading;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            color: $white;
            flex: 0 0 auto;
            width: 40px;
            height: 40px;
        }
    }
}